.operator,
.number {
    background-color: #03197c;
    border-radius: 3px;
    height: 100px;
    width: 100px;
}

#calculator {
    border-radius: 5px;
    border-width: 4px;
    border-color: rgb(255, 247, 247);
    height: 800px;
    width: 500px;
}

#result-display {
    border-radius: 5px 5px 0 0;
   
}
.bg{
    background-color: rgb(165, 200, 246);
}
#keyboard{
    height: 680px;
    width: 490px;
}